<nav>
    <div class="nav-wrapper waves-light blue">
        <ul id="nav-mobile" class="left ">
            <li><a href="/news/list">Новости</a></li>
            <li><a href="/users">Пользователи</a></li>
        </ul>
    </div>
</nav>