<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<style>
    .mt{
        margin-top: 100px;
    }
    .h100{
        min-height: 100px;
    }

    .input-file .form-group{padding:1em;margin:1em}
    .input-file input[type=file]{outline:0;opacity:0;pointer-events:none;user-select:none}
    .input-file .label{width:120px;border:2px dashed grey;border-radius:5px;display:block;padding:1.2em;transition:border 300ms ease;cursor:pointer;text-align:center}
    .input-file .label i{display:block;font-size:42px;padding-bottom:16px}
    .input-file .label i,.example-1 .label .title{color:grey;transition:200ms color}
    .input-file .label:hover{border:2px solid #000}
    .input-file .label:hover i,.example-1 .label:hover .title{color:#000}
</style>

<head>
    <!-- Compiled and minified JavaScript -->
    <title>Server</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
{{#if logged}}
    {{>_navbar}}
    {{{body}}}
{{else}}
<div class="container">
    <form action="/" method="post">
        <div class="row">
            <div class="input-field col s6 z-depth-5">
                <input id="log" name="log" value="" type="text"/>
                <label for="log">Login</label>
            </div>
        </div>
        <div class="row">
            <button class="waves-effect waves-light btn"  type="submit">Login</button>
        </div>
    </form>
</div>
{{/if}}
</body>
</html>