

<div class="container mt">
    <div class="row">
        <form  action="/docs" method="POST" encType="multipart/form-data" class="col s12">
            <h3 class="grey-text text-darken-1">Форма загрузки документов</h3>
            <div class="row ">
                <div class="input-field col s6 z-depth-5">
                    <textarea id="title" name="title" class="materialize-textarea h100"></textarea>
                    <label for="title">Имя файла</label>
                </div>
            </div>
            <div class="input-file">
                <div class="form-group">
                    <label class="label">
                        <i class="material-icons">attach_file</i>
                        <span class="title">Добавить файл</span>
                        <input type="file" name="fileName">
                    </label>
                </div>
            </div>

            <div class="row">
                <input type="submit" class="waves-effect waves-light btn">
            </div>
        </form>
    </div>
</div>
