<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<style>
    .mt{
        margin-top: 100px;
    }
    .h100{
        min-height: 100px;
    }
</style>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<head>
</head>

<body>

<div class="container mt">
<div class="row">
    <form action="/news" method="POST" class="col s12">
        <h3 class="grey-text text-darken-1">Форма ввода новостей</h3>
        <div class="row ">
            <div class="input-field col s6 z-depth-5">
                <input  id="title" type="text" name="title"  class="validate">
                <label for="title">Заголовок</label>
                
            </div>
        </div>
        <div class="row ">
            <div class="input-field col s6 z-depth-5">
                <textarea id="article" name="article" class="materialize-textarea h100"></textarea>
                <label for="article">Текст</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" class="waves-effect waves-light btn">
        </div>
    </form>
</div>
</div>
</body>
</html>